@font-face {
    font-family: "KumbhSans";
    src: url("../fonts/KumbhSans-VariableFont_YOPQ,wght.ttf");
    font-weight: 800;
}
    
.sponsorsMain {
    background-color: #1e1e1e;
    padding: 5%;
}

.sponsorHeader {
    font-family: 'KumbhSans', sans-serif;
    color: #ff6c1a;
    font-size: 60px;
    font-weight: 50;
    padding-bottom: 5%;
    text-align: center;
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:300px; /* Center the images horizontally */ /* Adjust the gap between images */
}

.sponsors img {
    max-width: 100%;
    /* Ensure images don't exceed their container's width */
}

@media (max-width: 768px) {

    .sponsors img {
        width: 45%; /* Set width to occupy almost half of the container */
    }
}

@media (max-width: 450px) {
    .sponsorHeader {
        font-size: 40px;
    }

    .sponsors img {
        width: 100%; /* Set width to occupy full width */
    }
}
