
.navbar{
    position: relative;
    width: 80vw;
    margin-top: 30px;
    height: 40px;
    background-color:white;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
  
  
  }
  .logo{
  
   
    color: black;
    margin-top: 5px;
    padding: 0 20px;
  }
  .h-wrap{
    display: flex;
    justify-content: center;
  
  }
  .h-wrap a{
    font-size: 14px;
    padding: 0 20px;
    text-decoration: none;
  }
  .points{
  display: inline;
  
  }
  
  
  .log{
    margin-top: 1%;
    color: black;
    
    background-color: orangered;
    padding: 10px 26px;
    border: none;
    border-radius: 40px;
    margin-right: 1em;
  }
  
  body{
  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF4F00 ;
    height: 100vh;
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-position: center, center;
  }
  
  