.Hero-wrap{
  margin-top: 3%;
 
} 
.texts{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  row-gap: 0;

}

.large {
  position: relative;
  font-size: 23em;
  padding: 0;
  margin-top: 2%;
 
}

.texts a{
  position: relative;
  margin-top: 2%;
  margin-bottom: 1%;
  color: white;
  font-size: 12px;
  background-color: black;
  padding: 6px 26px;
  border: none;
  border-radius: 40px;
}