@font-face {
  font-family: 'VVDS';
  src: url('../fonts/VVDS-Fifties-Exp-Bold-Italic.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

.Hero-wrap {
  margin-top: 3%;
  background-image: url('/public/ellipses.svg');
  background-size: cover;
  overflow: hidden;
}


.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0;
}


.small {
  margin-top: 9%;
  font-size: 1em;
  height: 24px;
  position: relative;
  z-index: 10;
}


.large {
  position: relative;
  font-size: 23em;
  padding: 0;
  margin: -50px;
  /* background-image: url('/public/ellipses.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: 'VVDS',sans-serif;
  letter-spacing: 30px;
}


.quote {
  position: relative;
  margin-bottom: 0;
  font-size: 20px;
}


.texts a {
  position: relative;
  margin-top: 2%;
  margin-bottom: 1%;
  color: white;
  font-size: 12px;
  background-color: black;
  padding: 6px 26px;
  border: none;
  border-radius: 40px;
}


@media (max-width: 1200px) {
  .Hero-wrap {
    margin-top: 5%;
  }


  .small {
    margin-top: 10%;
    font-size: 1.2em;
  }


  .large {
    font-size: 15em;
    margin: -30px;
    background-image: url('/public/ellipses.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }


  .quote {
    font-size: 18px;
  }


  .texts a {
    font-size: 14px;
    padding: 8px 30px;
  }
}




@media (max-width: 768px) {
  .Hero-wrap {
    margin-top: 9%;
  }


  .small {
    margin-top: 10%;
    font-size: 1.2em;
  }


  .large {
    font-size: 10em;
    margin: -30px;
    background-image: url('/public/ellipses.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    letter-spacing: 10px;
  }


  .quote {
    font-size: 18px;
  }


  .texts a {
    font-size: 14px;
    padding: 8px 30px;
  }
}




@media (max-width: 480px) {
  .Hero-wrap {
    margin-top: 11%;
  }


  .small {
    margin-top: 12%;
    font-size: 1.4em;
  }


  .large {
    font-size: 5em;
    margin: -20px;
    background-image: url('/public/ellipses.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }


  .quote {
    font-size: 16px;
  }


  .texts a {
    font-size: 16px;
    padding: 10px 35px;
  }
}
